<div class="container login-container ">
    <div class="row">
        <div class="col-md-6 col-12">
            <app-carousel></app-carousel>
        </div>
        <div class="col-md-6 col-12">
            <!--TITLE-->
            <h4 class="mt-5 d-flex justify-content-center">
                Login
            </h4>

            <!--WELCOME-->
            <h5 class="p-5 d-flex justify-content-center">
                Welcome to commics
            </h5>

            <!--FORM-->
            <div class="p-5">

                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <div class="form-text d-flex justify-content-end">Forgot password?</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>

            </div>

            <!--CREATE ACCOUNT-->
            <div class="d-flex justify-content-center">
                <p>New at comics? <i><u>Create Account</u></i></p>
            </div>
        </div>
    </div>
</div>